:root {
  --lg-width: 1024px;
  --lg-padding: 64px;
  --lg-gap: 16px;
  --md-gap: 8px;
  --lg-font: 2rem;
  --md-font: 1.5rem;
  --sm-font: 1.25rem;
  --letter-ar: calc(8.5 / 11);
  font-family: system-ui, "Segoe UI", Roboto, Helvetica, Arial, sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: lightblue;
  padding: var(--lg-padding);
}

input {
  font-size: var(--md-font);
  border: none;
  text-align: center;
}
.flex {
  display: flex;
}

.flex-col {
  flex-direction: column;
}
.sub {
  justify-content: center;
}
.form {
  padding: var(--lg-padding);
}
.resume {
  padding: var(--lg-padding);
  min-width: var(--lg-width);
  min-height: calc(var(--lg-width) / var(--letter-ar));
  background-color: white;
}

.resume,
.resume .flex {
  gap: var(--md-gap);
}

.header {
  font-size: var(--md-font);
  font-weight: bold;
}

.sub-header {
  font-size: var(--sm-font);
  font-weight: bold;
}

.general {
  text-align: center;
}
.name {
  font-size: var(--lg-font);
  font-weight: bold;
}
